/* Universal Selector */
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 100%;
    background-color: white;
}

header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

/* Styles the body section which includes the button and rules. */
body {
    margin: 0px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#scoreDisplay {
    float: left;
    color: darkcyan;
}

#scoreDisplay:hover {
    background-color: #ddd;
    color: black;
}

#timerDisplay {
    float: right;
    color: darkcyan;
}

#timerDisplay:hover {
    background-color: #ddd;
    color: black;
}

/* Styles the start quiz button. */
button { 
    background-color: teal;
    color: white;
    width: auto;
    border-radius: 15px;
    height: 55px;
    font-size: larger;
    border: 3px black solid;
    }

.container {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}